<html lang="en">
<head>
    <% include ../helpers/head %>
</head>
<body class="container">

  <header>
    <% include ../helpers/navbar %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Ryan Sue</h1>
      <p>Hi, I'm Ryan. This is my website. Wow!</p>
      <p>Hello World!</p>
      <p><a class="btn btn-primary btn-lg" href="https://github.com/Raieen/PersonalWebApp" target="_blank" role="button">See the repo</a></p>
    </div>
    <div class="tina-gif">
      <img src="../../images/mugshot.png" width="480" height="450" frameBorder="0"></img>
    </div>
  </main>

</body>
</html>
